.error {
    color: #c20000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-image: linear-gradient(rgba(31, 179, 117, 0.479), rgb(189, 189, 189))
}

#mainpage {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;
    border: solid 2px black;
    border-radius: 5px;
    background-color: rgb(189, 189, 189);
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 5px;
    text-shadow: 3px 2px rgb(255, 255, 255);
    text-align: center;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 5px;
    text-align: center;
}

h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 24px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.89);
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

br {
    padding: 5px;
}

label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

form {
    width: 50%;
    padding: 15px;
    border: solid 2px black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    border-radius: 5px;
    padding: 5px;
}

input[type=submit] {
    background-color:rgba(31, 179, 117, 0.479);
    border-radius: 5px;
    padding: 5px;
    width: 20%;
}