.error {
    color: #c20000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
    width: 50%;
    padding: 15px;
    border: solid 2px black;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    border-radius: 5px;
    padding: 5px;
}

input[type=submit] {
    background-color:rgb(31, 179, 117);
    border-radius: 5px;
    padding: 5px;
    width: 20%;
}

h2 {
    text-align: center;
}