html, body {
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    background-color: rgb(250,250,250);
}

body {
    height: 100vh;
    width: 100vw;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px;
    min-height: 200px;
}

.card img {
    height: auto;
    width: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container a {
    text-decoration: none;
    color: black;
}

.container a:hover {
    color: rgba(68, 182, 83, 1);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition: 0.3s;
    color:rgba(13, 126, 47, 1);
}

a.card-wrapper {
    text-decoration: none;
    padding: 10px 10px;
}

.carousel-item img {
    object-fit: cover;
    height: 400px;
    opacity: .5;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.main-container {
    background-color: rgba(68, 182, 83, 0.486);
    margin-left: 10%;
    margin-right: 10%;
    border-left: 5px solid rgba(0,0,0,0.2);
    border-right: 5px solid rgba(0,0,0,0.2);
    border-bottom: 5px solid rgba(0,0,0,0.2);
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.5);
    padding: 10px 10px;
    min-height: 50%;
}

.listing-wrapper {
    border: 1px darkgray solid;
    margin-bottom: 10px;
    padding: 10px 0;
}

.container .btn {
    text-decoration: none;
    box-shadow: 3px 3px rgba(0,0,0,0.2);
}

.recipeCRUD {
    padding: 30px;
    color: black;
    text-decoration: none;
}

.error {
    color: red;
}

.btn-primary {
    background-color: rgb(13, 126, 47);
    border-color: rgb(13, 126, 47);
    box-shadow: 3px 3px rgba(0,0,0,0.2);
}

.btn-primary:hover {
    background-color: rgba(13, 126, 47, 0.5);
    border-color: rgb(13, 126, 47);
    box-shadow: 3px 3px rgba(0,0,0,0.2);
}

.btn-secondary {
    border-color:rgb(0, 0, 0);
    background-color:rgba(13, 126, 47, 0.5);
    color:rgb(0, 0, 0);
    box-shadow: 3px 3px rgba(0,0,0,0.2);
}

.profile-button {
    list-style: none;
    padding: 5px 5px;
}

.form-group {
    padding: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px darkgray;
border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgba(13, 126, 47, 0.5);
border-radius: 5px;
}

p.footer {
    font-size: 11px;
    margin-right: 10%;
    margin-left: 30%;
}